$color-blue-primary: #3988CC;
$color-blue-secondary: #003A6C;

$color-black-primary: #292929;
$color-black-secondary: #5D5D5D;

$color-gray-primary: #E6E6E6;
$color-gray-secondary: #ECECEC;

$color-heading: $color-black-primary;
$color-body: $color-black-secondary;

$color-red: #FF3E3E;
$color-white: #FFFFFF;

$color-facebook: #4267B2;
$color-twitter: #1DA1F2;
$color-instagram: #C13584;
$color-linkedin: #2867B2;
$color-whatsapp: #128C7E;
$color-star: #DFC900;
