.navbar-custom {
    .navbar-logo {
        .logo {
            height: 50px;
        }
    }

    .navbar-nav {
        margin-left: auto;

        .nav-item {
            padding: 8px 12px 0 12px;

            &.active {
                .nav-link {
                    &::after {
                        width: 16px;
                    }
                }
            }
        }

        .nav-link {
            position: relative;
            padding: 0 0 8px 0;
            color: $color-white;

            .icon {
                margin-left: 8px;
            }

            &::after {
                display: inline-block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 0;
                background-color: $color-white;
                transition: .6s;
            }

            &:hover {
                &::after {
                    width: 16px;
                }
            }

            &.dropdown-toggle {
                &::after {
                    margin-left: unset;
                    vertical-align: unset;
                    border-top: unset;
                    border-bottom: unset;
                    border-right: unset;
                    border-left: unset;
                }
            }
        }
    }

    .dropdown-menu {
        padding: 0;

        .dropdown-item {
            padding: 8px 10px;
            border-bottom: 1px solid $color-gray-primary;

            &:hover {
                @extend %background-color-secondary;
                @extend %border-bottom-color-secondary;
                color: $color-white;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .navbar-button-toggle {
        position: relative;
        display: none;
        background-color: transparent;
        border: 1px solid $color-white;
        width: 44px;
        height: 42px;

        .bars {
            position: absolute;
            background-color: $color-white;
            right: 6px;
            height: 4px;
            transition: .8s;

            &.bars-1 {
                top: 8px;
                width: 31px;
            }

            &.bars-2 {
                top: 15px;
                width: 26px;
            }

            &.bars-3 {
                top: 22px;
                width: 20px;
            }

            &.bars-4 {
                top: 29px;
                width: 31px;
            }
        }

        &:hover {
            .bars {
                &.bars-1 {
                    width: 26px;
                }

                &.bars-2 {
                    width: 31px;
                }

                &.bars-3 {
                    width: 25px;
                }

                &.bars-4 {
                    width: 22px;
                }
            }
        }
    }

    .navbar-side-header {
        display: none;
    }

    .navbar-side-footer {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-custom {
        .navbar-button-toggle {
            display: inline-block;
        }

        .navbar-collapse {
            display: block;
            position: fixed;
            z-index: 999;
            right: -280px;
            top: 0;
            height: 100%;
            overflow-y: auto;
            background-color: $color-white;
            width: 280px;

            &.sidebar-shadow {
                box-shadow: -8px 0 8px rgba($color: #000000, $alpha: .06);
            }
        }

        .navbar-side-header {
            display: block;
            padding: 20px;
            border-bottom: 1px solid $color-gray-primary;

            .navbar-side-logo {
                text-align: center;
                margin-bottom: 4px;

                .logo {
                    height: 50px;
                }
            }

            .navbar-description {
                display: block;
                text-align: center;
                font-size: 14px;
            }
        }

        .navbar-nav {
            border-bottom: 1px solid $color-gray-primary;
            margin-left: unset;
            padding: 20px;

            .nav-item {
                padding: 0 0 6px 0;

                &.active {
                    .nav-link {
                        @extend %font-color-primary-991;

                        &::after {
                            width: 16px;
                        }
                    }
                }

                &:last-child {
                    padding: 0;
                }
            }

            .nav-link {
                position: relative;
                padding: 0 0 2px 0;
                color: $color-black-secondary;

                .icon {
                    margin-left: 8px;
                }

                &::after {
                    @extend %background-color-primary-991;
                }

                &:hover {
                    @extend %font-color-primary-991;

                    &::after {
                        width: 16px;
                        @extend %background-color-primary-991;
                    }
                }
            }
        }

        .dropdown-menu {
            border: none;

            .dropdown-item {
                border-bottom: 1px solid $color-gray-primary;

                &:hover {
                    background-color: transparent;
                    @extend %font-color-primary-991;
                    @extend %border-bottom-color-secondary;
                    color: $color-white;
                }
            }
        }

        .navbar-side-footer {
            display: block;
            padding: 20px;

            .navbar-footer-item {
                margin-bottom: 15px;

                .title {
                    margin-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .navbar-side-close {
                    background-color: transparent;
                    border: none;
                    color: $color-black-secondary;

                    .icon {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}